/**
 * @section Base Styles
 */
html {
	@media (max-width: 320px) {
		font-size: 13px;
	}

	@media (min-width: 750px) and (max-width: 1019px) {
        font-size: 15px;
    }
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

body {
	margin: 0 auto;
	min-height: remy(320);
	overflow: hidden;
}

input,
textarea,
select,
button {
	font: inherit;
}