/**
 * @section Base Styles
 */
html {
	@media (min-width: 400px) {
		font-size: 15px;
	}
}

body {
	margin: 0 auto;
	min-height: remy(320);
	overflow: hidden;
}

input,
textarea,
select,
button {
	font: inherit;
}