.wrapper_finish {
    height: auto !important;

    @media (min-width: 800px) {
        width: remy(768);
    }
}

.finish__body {
    position: relative;
    overflow: visible;
    font-size: 16px;
    padding-top: remy(40);
}

.back_button-finish {
    position: absolute;
    left: remy(10);
    top: remy(10);
}

.finish__services, .finish__additional-services {
    @media (min-width: 760px) {
        flex: 1;
    }
}

.services__list-item-name {
    position: relative;

    &:before {
        position: absolute;
        top: 50%;
        left: - remy(10);
        content: "";
        width: remy(8);
        height: remy(8);
        border-radius: 50%;
        background-color: #BB272D;
    }
}

.services__list-item {
    margin-top: remy(30);
    display: flex;
    justify-content: space-between;

    &-name {
        width: remy(100);
        height: remy(20);
    }

    &-descr {
        margin-top: remy(10);
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        &-cost {
            margin-top: remy(5);
        }
    }
}

.finish__body {
    color: grey;
}

.finish__services-title {
    font-size: 18px;
}

.finish__accept, .finish__repeat {
    color: #BB272D;
}

.finish__cost, .finish__date {
    color: #6083BB;
    font-size: remy(18);
}

.finish__master {    

    &-title {
        font-size: 18px;
    }

    &-name {
        margin-top: remy(15);
        position: relative;
        &:before {
            position: absolute;
            top: 30%;
            left: - remy(10);
            content: "";
            width: remy(8);
            height: remy(8);
            border-radius: 50%;
            background-color: #BB272D;
        }
    }
}

.finish__phone-number {
    color: white;
    background-color: #6083BB;
    border-style: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;

    &::placeholder {
        color: white;
    }
}

.finish__top-conversion-part, .finish__bottom-conversion-part {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: remy(20);

    @media (min-width: 760px) {
        flex-flow: row;
        align-items: center;
        margin-top: remy(100);
    }
}

.finish__bottom-conversion-part {
    margin-bottom: remy(50);
}

.finish__bottom-overall-block, .finish__top-additional-block {
    @media (min-width: 760px) {
        width: 50%;
    }
}

.finish__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: remy(20);
    z-index: 10004;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: remy(321);
    display: none;
}

.finish__popup-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // display: none;
}

.finish__OK {
    display: flex;
    justify-content: center;
    align-items: center;
    height: remy(40);
    width: 100%;
    border-top: 1px solid grey;
    color: #6083BB;
    text-align: center;
    cursor: pointer;
}