$secondary-color: #BB272D;
$text-color: #6A7F9D;
$main-color: #6083BB;

.back_button {
    align-self: flex-start;
    color: $main-color;
    margin-top: remy(30);
    margin-bottom: remy(20);
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;

    &-name {
        height: remy(25);
    }


    .back_arrow {
        font-size: remy(25);
        margin-bottom: 4px;
    }

    @media (min-width: 770px) {
        margin-left: remy(100);
    }
}

.service__selected {
    width: remy(47) !important;
    position: absolute;
    top: - remy(10);
    right: - remy(10);
    display: none !important;
}

.selected {
    .service__selected {
        display: block !important;
    }

    .master__selected {
        display: block !important;
        width: remy(47) !important;
    }
}

.slider_services, .slider_colorize, .slider_haircut {
    @media (min-width: 770px) {
        width: remy(800);
    }
    margin-bottom: remy(30);
    width: 100%;
}

.slider_name {
    margin-left: remy(20);
    color: $secondary-color;
    width: auto;
}

.colorize-item, .haircut-item, .care-item {
    @media (max-width: 360px) {
        width: remy(280);
        font-size: 10px;
    }

    @media (min-width: 360px) and (max-width: 767px) {
        width: remy(360);
        height: remy(280);
    }
    margin-top: remy(30);

    
    margin-right: remy(30);
    display: inline-block;
    position: relative;

    @media (min-width: 768px) {
        width: remy(660);
    }
}

.slider-colorize, .slider-haircut, .slider-services {
    @media (min-width: 360px) and (max-width: 767px) {
        height: remy(360);
    }
}

.service_description, .haircut_description, .care_description {
    color: $text-color;
    background: url(../svg/colorize-bg.png) no-repeat;
    background-size: contain;
    height: remy(162);
    border-radius: remy(20);
    margin-bottom: remy(20);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    cursor: pointer;

    @media (min-width: 360px) and (max-width: 767px) {
        height: remy(220);
    }

    @media (min-width: 768px) {
        height: remy(400);
        display: block;
    }
}

.service-group-part {
    @media (max-width: 767px) {
        height: 50%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
}

.service__description-small {
    height: 100%;
    width: 50%;
    margin-left: remy(25);
    margin-top: remy(20);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: 767px) {
        height: 20%;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.service_name {
    @media (min-width: 767px) {
        width: 50%;
    }
}

.service_time {
    margin-bottom: remy(10);
}

.service__description-full {
    margin-left: remy(25);
    width: 50%;

    @media (max-width: 767px) {
        display: none;
    }
}

.service_wrapper {
    width: 100%;
    height: remy(30);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-color;

    @media (min-width: 768px) {
        display: none;
    }
}

.services__body {
    overflow-x: hidden;
    // overflow-y: scroll;
}

.wrapper_services {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.slider_list {
    display: inline-flex;
    margin:0;
    padding:0;
}

.footer__services {
    margin-top: remy(30);
    height: remy(60);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: black;
}

.footer__cost {
    display: flex;
    flex-flow: column;
    color: white;
}

.footer__next {
    color: $secondary-color;
    display: flex;
    align-items: center;
    // display: flex;

    &-arrow {
        margin-bottom: 4px;
        font-size: remy(25);
    }
}

.slider_master {
    width: 100%;
    overflow-y: hidden;

    @media (min-width: 320px) {
        height: remy(360);
    }

    @media (min-width: 360px) and (max-width: 500px) {
        height: remy(400);
    }

    @media (min-width: 768px) {
        height: remy(550);
    }

    @media (min-width: 770px) {
        width: remy(800);
    }
}

.slider-master {
    overflow-y: hidden;
    height: remy(350);
    width: 100%;

    @media (min-width: 360px) and (max-width: 767px) {
        // width: remy(180);
        height: remy(370);
    }

    @media (min-width: 768px) {
        height: remy(500);
        width: remy(800);
    }
}

.master_wrapper {
    width: 100%;
    height: remy(30);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-color;
    cursor: pointer;
}

.master__description {
    width: remy(180);
    padding-top: 10%;
    padding-left: 10%;
    border-radius: remy(20);
    margin-bottom: remy(20);
    cursor: pointer;
    height: remy(240);
    background: url(../svg/master.png);
    background-size: cover;

    @media (max-width: 360) {
        height: remy(240);
    }

    @media (min-width: 360px) and (max-width: 500px) {
        width: remy(180);
        height: remy(240);
    }

    @media (min-width: 768px) {
        height: remy(400);
        width: remy(313);
    }

    @media (max-width: 360) {
        height: remy(200);
    }

    .master_name {
        color: white;
        font-weight: 600;
    }
}

.master-item {
    margin-right: remy(20);
    position: relative;
    margin-top: remy(30);

    @media (max-width: 360) {
        height: remy(280);
    }

    @media (min-width: 360px) and (max-width: 500px) {
        // width: remy(180);
        height: remy(320);
    }

    @media (min-width: 768px) {
        height: remy(520);
        // width: remy(580);
    }
}

.master__selected {
    display: none !important;
    top: - remy(15);
    right: - remy(15);
    position: absolute;
}


.popup__description {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: remy(20);
    z-index: 10004;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: remy(321);
    display: none;

    &-heading {
        margin-top: remy(10);
        font-weight: 600;
    }

    &-info {
        padding: remy(20);
        margin: 0;
    }

    &-back {
        width: 100%;
        border-top: 1px solid grey;
        color: $main-color;
        text-align: center;
        cursor: pointer;
    }
}

.visible_popup {
    display: flex !important;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
      -o-filter: blur(5px);
     -ms-filter: blur(5px);
         filter: blur(5px);
}

.popup_blur {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    z-index: 10003;
    background-color: rgba(0, 0, 0, 0.7);
}

.master__popup-close-button {
    cursor: pointer;
    position: absolute;
    right: remy(20);
    top: remy(16);
    width: remy(16);
    height: remy(16);
    opacity: 0.7;
    }
    .master__popup-close-button:hover {
    opacity: 1;
    }
    .master__popup-close-button:before, .master__popup-close-button:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: remy(16);
    width: 2px;
    background-color: $main-color;
    }
    .master__popup-close-button:before {
    transform: rotate(45deg);
    }
    .master__popup-close-button:after {
    transform: rotate(-45deg);
    }

.master__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: remy(10);
    z-index: 10004;
    display: flex;
    flex-flow: column;
    width: 90%;
    height: remy(500);
    padding-top: remy(10);
    display: none;

    @media (min-width: 760px) {
        width: remy(540);
        height: remy(700);
    }

    &-head {
        display: flex;
        flex-flow: column;

        .master__descr {
            display: flex;
            flex-flow: column;
            padding-left: remy(15);
            margin-bottom: remy(10);

            &-name {
                font-weight: 700;
            }

            &-position {
                color: $secondary-color;
                font-size: 12px;
            }
        }

        .master__photo {
            width: 100%;
            height: remy(220);
            position: relative;
            background-size: cover !important; 
            background-position-y: 20% !important;

            @media (min-width: 760px) {
                height: remy(400);
            }

            .feedback__counter {
                position: absolute;
                bottom: - remy(20);
                right: remy(20);
                height: remy(65);
                width: remy(65);
                color: white;
                background-color: $main-color;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                &-number {
                    font-size: 30px;
                }

                &-name {
                    font-size: 12px;
                    margin-top: -8px;
                }
            }
        }
    }

    &__feedback-list {
        margin-top: remy(30);
        padding: remy(15);
    }

    &__feedback-item {
        display: flex;
        flex-flow: column;
        padding-bottom: remy(5);
        border-bottom: 2px solid $main-color;

        .feedback__heading {
            display: flex;
            margin-bottom: remy(10);
            
            .feedback__name {
                color: $secondary-color;
                font-weight: 600;
                margin-right: remy(20);
            }
        }
    }
    
}
