.main_wrapper {
    height: 100vh;
    display: flex;
    flex-flow:column;
    align-items: center;
    overflow: hidden;
    min-height: 500px;
}

.sp__body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-container {
    position: absolute;
    left: 0;
    height: 100vh;
    min-height: remy(320);
}

.social-icon {
    height: remy(29);
}

.logo_part {
    min-height: remy(150);
    position: relative;
}

#logo-img {
    position: absolute;
    top: remy(70);

    @media (max-width: 400px) {
        top: remy(50);
    }

    @media (max-width: 360px) {
        top: remy(30);
    }
}

.enter-span {
    display: flex;
    align-items: center;
    margin-right: remy(10);
}

.logo_part {
    height: 45%;
    justify-content: center;
    align-items: center;
    @media (max-width: 450px) {
        height: 25%;
    }
}

.bottom_part {
    flex: 1;
    min-height: remy(400);
    display: flex;
    flex-flow: column;
    justify-content: center;
    @media (min-width: 750px) {
        margin-bottom: remy(20);
    }
}

.input, .vk-enter, .fb-enter {
    color: white;
    background-color: #6083BB;
    border-style: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        background: #6083EE;
    }

    &::placeholder {
        color: white;
    }
}

.fb-enter, .vk-enter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_wrapper {
    z-index: 10000;
    border-style: none;
    border-radius: remy(12);
    padding: 1px;
    border: solid #6083BB 1px;
    height: remy(45);
    width: remy(334);
    margin-bottom: remy(10);

    @media (min-width: 992px) and (max-width: 1199px) {
        height: remy(50);
        width: remy(400);
    }
}

.enter-btn {
    z-index: 10000;
    color: red;
    align-self: flex-end;
    width: auto;
    &:hover {
        color: #C1272D;
    }
}

.register-btn {
    z-index: 10000;
    color: red !important;
    &:hover {
        color: #C1272D !important;
        text-decoration: underline !important;
    }
}

#back_button {
    color: #C1272D;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.input-form {
    display: flex;
    min-height: remy(160);
    flex-flow: column;

    @media (max-width: 400px) {
        margin-bottom: 0;
    }
}

.hidden_buttons_block {
    display: flex;
    flex-flow: column;
    align-items: center;
    display: none;
    z-index: 10000;
}

.socials-form {
    display:flex;
    min-height: remy(160);
    flex-flow:column;
}

.license-agreement-block {
    padding: remy(10);
    border-radius: remy(20);
    display: flex;
    width: remy(334);

    height: remy(100);
    background-color: rgba(255, 255, 255, 0.5);

    width: 100%;

    &-wrapper {
        height: remy(105);
        width: remy(340);
        border-radius: remy(20);
        margin-bottom: remy(10);
        margin-top: remy(20);
        padding: remy(1);

        border: 1px solid rgba(255, 255, 255, 0.5);

        @media (max-width: 400px) {
            margin-top: remy(40);
        }
    }
}

.agreement_block_rules {
    display: flex;
    flex-flow: column;
}

.license_text {
    color: #C1272D;
    margin-bottom: remy(5);
}

.switch {
    position: relative;
    width: 47px;
    height: 27px;
    margin-bottom: remy(15);

    @media (max-width: 420px) {
        height: 20px;
    }
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;

    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    @media (max-width: 420px) {
        top: 1px;
        height: 18px;
        width: 18px;
    }

    top: 3px;
    height: 20px;
    width: 20px;
}
  
.agreement_input:checked + .slider {
    background-color: #C1272D;
}
  
.agreement_input:focus + .slider {
    box-shadow: 0 0 0 #C1272D;
}

.agreement_input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);

    @media (max-width: 420px) {
        -webkit-transform: translateX(25px);
        -ms-transform: translateX(25px);
        transform: translateX(25px);
    }

    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

.slider.round {
    border-radius: remy(32);
}
  
.slider.round:before {
    border-radius: 50%;
}

.bottom-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#bottom-block__register {
    color: #C1272D;
}

.preloader {
    position: fixed;
    z-index: 11000;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;

    &__img {
        // width: 100%;
        height: 100%;
    }
}

.hiding__preloader {
    transition: opacity 1s;
    opacity: 0;
}

.preloader__hidden {
    display: none;
}